<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taskora-@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/Dashboard.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="dashboard-container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="sidebar-top">
                <div class="profile-section">
                    <div class="profile-icon">✔️</div>
                    <h3>Welcome, @User.Identity.Name</h3>
                </div>

                <nav class="menu">
                    <a asp-controller="tasks" asp-action="Index"
                       class="menu-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Tasks" ? "active" : "")">
                        Home
                    </a>

                    <a asp-controller="Project" asp-action="Index"
                       class="menu-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Project" ? "active" : "")">
                        Projects
                    </a>
                    <a asp-controller="Auth" asp-action="SignOut"
                       class="menu-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Auth" ? "active" : "") btn-danger">
                        SignOut
                    </a>

                    
                </nav>

                <br />
                <br />

                <a asp-controller="Tasks" asp-action="Create" class="new-task-btn">+ New Task</a>
            </div>
        </aside>


        <!-- Main Content -->
        <main class="main-content">
        @RenderBody()
        </main>
        
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("ValidatoinScriptSection", required: false)
</body>
</html>
